.project{
    font-family: "Malgun Gothic";
    font-style: normal;
    font-weight: bold;
    font-size:19px;
    line-height: 40px; //jarak antar tulisan
}
#nama{
    font-size:34px;
    position: absolute;
    top: 165px;
    left: 200px;
}
#npm{
    position: absolute;
    top: 222px;
    left: 200px;
}
#kuliah{
    position: absolute;
    top: 245px;
    left: 200px;
}
#hobby{
    position: absolute;
    top: 265px;
    left: 200px;
    font-style: italic;
}
#about{
    position: absolute;
    top: 295px;
    left: 200px;

}
#find{
    color: aliceblue;
    position: absolute;
    bottom: -10px;
    right: 100px;
}

#foto{
    position: absolute;
    top: 110px;
    left: -70px;
    width: 250px;
    border-radius: 50%;
}
#foto1{
    position: absolute;
    top: -50px;
    left: 0px;
    width: 300px;
}
#foto2{
    position: absolute;
    bottom: -50px;
    right: 50px;
    width: 700px;
}
#foto3{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#foto4{
    position: absolute;
    bottom: 15px;
    right: 68px;
    width: 25px;

}
#foto5{
    position: absolute;
    top: 45px;
    left: 143px;
    width: 400px;
}
#papan0{
    background: url('./giphy (7).gif');
    height: 100vh;
}

#papan{
    background: url('./tenor (1).gif');
    height: 55vh;
    top: 50vh;
    bottom: 50vh;
}
body{
    margin: 0;
    border: 0;
    padding: 0;
}
#papan2{
    position: absolute;
    width: 1100px;
    height: 480px;
    left: 100px;
    top:80px;
    background:lightskyblue;
}

